<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>

    <!--<add key="Browser" value="Firefox"/>-->
    <add key="Browser" value="Chrome"/>

    <add key="BaseUrl" value="https://www.n11.com/" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    
  </appSettings>
  
</configuration>